<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<title>ACAP - Associação Cerrocoraense de Apicultores&nbsp&nbsp&nbsp&nbsp&nbsp</title>
	<link rel="stylesheet" type="text/css" href="ACAP.css">
	<link rel="icon" type="ico" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Dosis:500,700|Sansita" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="ACAP.js"></script>
</head>
<body>

<div><img id="u25101_img" src="Imagens/fundo_capa-crop-u25101.png" width="272" height="371"></div>
<div><img id="u25078_img" src="Imagens/fundo_capa.png" width="575" height="371"></div>

<a class="top" href="javascript:;" title="Voltar ao topo!">
	<img src="Imagens/top.gif" alt="Bee" height="80" width="55">
</a>

<header>
		<img src="Imagens/ACAPmel.png" id="header">
		
</header>

<nav>
	<div id="nav">
		<div class="nav"><strong><a class="navv" href="index.html">PÁGINA INICIAL</a></strong></div>
		<div class="nav"><strong><a class="navv" href="produtos.html">PRODUTOS</a></strong></div>
		<div class="nav"><strong><a class="navv" href="cadastro.html">CADASTRO</a></strong></div>
		<div class="nav"><strong><a class="navv" href="contato.html">CONTATO</a></strong></div>
		<div class="nav"><strong><a class="navv" href="ondeencontrar.html">ONDE ENCONTRAR?</a></strong></div>
	</div>
</nav>
<section>
	<article>
			<form action="mailsend.php" method="post">
			Nome:
				<br class="br">
			<input type="text" name="nome" required class="input">
				<br><br>
			Telefone para contato:
				<br class="br">
			<input type="text" name="telefones" class="input" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$">
				<br><br>
			E-mail:
				<br class="br">
			<input type="text" name="email" required class="input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="caracters@caracters.com">
				<br><br>
			Mensagem:
			<br class="br">
			<textarea rows="10" cols="60"></textarea>
				<br><br>
			<input type="submit" name="submit" value="Enviar" id="value">
		</form>
	</article>
	
	<div id="disk">
		<img src="Imagens/dmel.png" id="dmel">
		<img src="Imagens/diskmel.png" id="diskmel">
		<img src="Imagens/email.png" id="email">
	</div>

</section>

<div id="rodape"> </div>

<footer>
<div id="footer"> 
</div>

<div id="footerc">
	<h1 id="cont">Onde nos encontrar</h1>
	<p class="cont">Assentamento Santa Clara II</p>
	<p class="cont">Bairro: Zona Rural</p>
	<p class="cont">Município: Cerro Corá</p>
	<p class="cont">Estado: Rio Grande do Norte</p>
	<p class="cont">Cep: 59395-000</p>
</div>

<div id="footerm">
	<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
	<div style='overflow:hidden;height:210px;width:350px;'>
	<div id='gmap_canvas' style='height:210px;width:400px;'></div>
	<div><small><a href="http://embedgooglemaps.com"></a></small></div>
	<div><small><a href="http://proxysitereviews.com/instantproxies/"></a></small></div>
	<style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
	<script type='text/javascript'>function init_map(){var myOptions = {zoom:11,center:new google.maps.LatLng(-5.989630319836868,-36.322816197314474),mapTypeId: google.maps.MapTypeId.HYBRID};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-5.989630319836868,-36.322816197314474)});infowindow = new google.maps.InfoWindow({content:'<strong>ACAP</strong><br>Cerro Corá, Brasil<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</div>

<div id="footera">
	<h1>Parcerias</h1>

	<img src="Imagens/CAMPUS CURRAIS NOVOS.png" width="170" height="200" id="if">
	<a href="http://www.semabelhasemalimento.com.br/"><img src="Imagens/semabelhasemalimento.png" height="200" id="sabelha"></a>
</div>

</footer>

</body>
</html>